{
  "extends": "stylelint-config-recommended",
  "rules": {
    "max-empty-lines": 2,
    "at-rule-no-unknown": [
      true, {
        "ignoreAtRules" : [
          "if",
          "else",
          "for",
          "each",
          "while",
          "mixin",
          "include",
          "function"
        ]
      }
    ]
  }
}
