@import './src/stylesheets/global.scss';

.list {
  display: block;
  list-style-type: none;
}

.bulletedList {
  display: block;
  list-style-type: disc;
  margin-left: $large;
}

@media #{$tablet} {
  .bulletedList {
    margin-left: $medium;
  }
}

@media #{$phablet} {
  .bulletedList {
    margin-left: $small;
  }
}

@media #{$mobile} {
  .bulletedList {
    margin-left: $small;
  }
}