@import './src/stylesheets/global.scss';

.wrapper {
  display: block;
  width: auto;
  max-width: 1200px;
  height: 100vh;
  margin: 0 $small;
}

@media #{$tablet} {
  .wrapper {
    max-width: 767px;
  }
}

@media #{$phablet} {
  .wrapper {
    max-width: calc(100% - 20px);
  }
}

@media #{$mobile} {
  .wrapper {
    max-width: calc(100% - 20px);
  }
}