@import './src/stylesheets/global.scss';

.largeTitle {
  @include LargeTitleFont();
}

.title {
  @include TitleFont();
}

.smallTitle {
  @include SmallTitleFont();
}

.subHeadingTitle {
  @include SubtitleFont();
}

.eyebrowTitle {
  @include EyebrowFont();
}

.navyCopy {
  color: $Navy;
}

.whiteCopy {
  color: $White;
}

.darkGrayCopy {
  color: $DarkGray;
}

.grayCopy {
  color: $Gray;
}

.livingCoralCopy {
  color: $LivingCoral;
}