@import './src/stylesheets/global.scss';

.indexPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.header {
  margin: 25% 0 20px;
  width: 100%;
  height: auto;
}

@media #{$tablet} {
  .header {
    margin: 20% 0 15px;
    width: 100%;
    height: auto;
  }
}

@media #{$phablet} {
  .header {
    margin: 15% 0 10px;
    width: 100%;
    height: auto;
  }
}

@media #{$mobile} {
  .header {
    margin: 15% 0 0 10px;
    width: 100%;
    height: auto;
  }
}