@mixin link-transition($time){
  -webkit-transition: all $time ease-out;
  -moz-transition: all $time ease-out;
  -o-transition: all $time ease-out;
  transition: all $time ease-out;
}

@mixin Link($color: $LivingCoral) {
  @include link-transition(350ms);
  color: $color;

  &:hover {
    color: darken($color, 7.5%);
    text-decoration: none;
  }
}